@use '@/styles/mixins.scss' as *;

.animatedBackground {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 0;
  overflow: hidden;
  // Clean background - gradient is handled by body element
}
